<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689139158870-t5lb2vi9gbova3qcctapkheu5olrj4of.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689139158870-t5lb2vi9gbova3qcctapkheu5olrj4of</string>
	<key>API_KEY</key>
	<string>AIzaSyBNlAD9JJ9HgGyj1LvBdyhdzmUOQLPcK30</string>
	<key>GCM_SENDER_ID</key>
	<string>689139158870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hosam.net.Northern-Nights</string>
	<key>PROJECT_ID</key>
	<string>northern-nights-2a48d</string>
	<key>STORAGE_BUCKET</key>
	<string>northern-nights-2a48d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689139158870:ios:bc729006125161563510f7</string>
	<key>DATABASE_URL</key>
	<string>https://northern-nights-2a48d.firebaseio.com</string>
</dict>
</plist>